asgiref==3.8.1
bleach==6.2.0
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
Django==5.1.4
django-debug-toolbar==4.4.6
django-summernote==0.8.20.0
djlint==1.36.3
EditorConfig==0.12.4
jsbeautifier==1.15.1
json5==0.10.0
MarkupSafe==3.0.2
pathspec==0.12.1
pillow==11.0.0
psycopg2-binary==2.9.10
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.2
tqdm==4.67.1
webencodings==0.5.1
